@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>
